<div class="loading-screen" role="alert" aria-live="polite">
    <div class="body" aria-hidden="true">
        <span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </span>
        <div class="base">
            <span></span>
            <div class="face"></div>
        </div>
    </div>
    <div class="longfazers" aria-hidden="true">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <h1>Launching Galaxy Chat Bots...</h1>
</div>
